@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
     font-family: "Inter", sans-serif;
}
.container{
    margin-bottom: 100px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 34px;
    margin-bottom: 34px;
}
.nav-content{
    display: flex;
    gap: 30px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    color: var(--#000000, rgba(0, 0, 0, 1));
    opacity: 0.9;
}

.nav-btn{
    color: rgba(255, 255, 255, 1);
    background-color: #30B868;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    padding: 8px;
    border-radius: 4px;
    border: none;
}

/* baner starts */
.banner-container{
    max-width: 1440px;
    min-height: 652px;
    /* border: 2px solid red; */
    margin: 0 auto;
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.banner-btn{
    color: #30B868;
    padding: 6px;
    border-radius: 16px;
    border: none;
    margin-bottom: 16px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
}

.banner-title{
    font-family: Inter;
    font-size: 72px;
    font-weight: 700;
    color: #FFFFFF;
}
.clr-break{
    color: #30B868;
}
.banner-p{
    margin-top: 16px;
    margin-bottom: 16px;
    color: #FFFFFF;
    opacity: 0.9;

    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}

.bnr-btn-1{
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    padding: 8px;
    border-radius: 4px;
    border: #FFFFFF;

}
.btn-gap{
    gap: 4px;
}
/* baner ends */