@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
     font-family: "Inter", sans-serif;
}
.container{
    margin-bottom: 100px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 34px;
    margin-bottom: 34px;
}
.nav-content{
    display: flex;
    gap: 30px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    color: var(--#000000, rgba(0, 0, 0, 1));
    opacity: 0.9;
}
.nav-content p:hover{
    background-color: #627382;
}

.nav-btn{
    color: rgba(255, 255, 255, 1);
    background-color: #30B868;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    padding: 8px;
    border-radius: 4px;
    border: none;
}
.nav-btn:hover{
    background-color: #627382;

}
/* baner starts */
.banner-container{
    max-width: 1440px;
    min-height: 652px;
    /* border: 2px solid red; */
    margin: 0 auto;
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.banner-btn{
    color: #30B868;
    padding: 6px;
    border-radius: 16px;
    border: none;
    margin-bottom: 16px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
}
.banner-btn{
    background-color: #627382;


}

.banner-title{
    font-family: Inter;
    font-size: 72px;
    font-weight: 700;
    color: #FFFFFF;
}
.clr-break{
    color: #30B868;
}
.banner-p{
    margin-top: 16px;
    margin-bottom: 16px;
    color: #FFFFFF;
    opacity: 0.9;

    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}

.bnr-btn-1{
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    padding: 8px;
    border-radius: 4px;
    border: #FFFFFF;


}
/* .arrow{
    margin-top: 20px;

} */
.bnr-btn-1:hover{
    background-color: #627382;

}
.btn-gap{
    gap: 4px;
}
/* banner ends */

 /* Notes don't fail, Structure does starts here  */
 .notes{
    margin-bottom: 120px;
 }
 .structure-content{
    text-align: center;
    margin-bottom: 26px;
 }

 .structure-title{
    color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
 }

 .structure-p{
    color: var(--#627382, rgba(98, 115, 130, 1));
    font-family: Inter;
    font-size: 16px;
    opacity: 0.7;
    font-weight: 400;

 }
 /* card */
 .card-container{
     max-width: 1440px;
    /* min-height: 652px; */
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
    gap: 20px;
 }

 .card-content{
    width: 322px;
    /* height: 300px; */
    /* border: 2px solid red; */
    margin-left: 15px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    background-color: #efececc9;
 }
 /* .card-content img{
    align-items: center;
 } */

  .card-img{
    width: 60px;
    height: 60px;
    margin-left: 80px;
    /* align-items: center; */
    background: rgba(249, 85, 85, 1);
    border-radius: 50%;
 }

 .card-title{
    color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
    margin-left: 20px;
 }
 .card-p{
    color: var(--#627382, rgba(98, 115, 130, 1));
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    width: 274px;
    margin-top: 16px;
    margin-bottom: 16px;
    align-items: center;
    

 }

 /* .card-container:hover{
    background-color: #627382;
 } */
 /* cards */

 /* Notes don't fail, Structure does ends here */

 /* Your second brain, structured by design. */
 .second-brain-container{
    max-width: 1440px;
    /* min-height: 652px; */
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
    gap: 60px;
    margin-bottom: 120px;

 }
 .second-brain-content{
    margin-top: 100px;
 }

 .solution{
    color: #30B868;

    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 20px;
 }
 .solution-title{
    color: #000000;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
 }
 .solution-p{
    color: #000000;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 40px;
 }

 .check{
    display: flex;
    gap: 6px;
    margin-bottom: 16px;
   
 }

 .check-p{
    color: var(--Style, rgba(0, 25, 49, 1));
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.9;

 }
 /* Your second brain, structured by design ends*/


 /* Ready to think more clearly starts here  */
 .ready-container{
    max-width: 1440px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-bottom: 120px;
    background-color: #F7F6F2;

 }
 .ready-content{
    text-align: center;
    padding: 80px 40px 80px 40px ;
    
 }
 .ready-title{
    color: #001931;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
 }
 .ready-content-p{
    color: #627382;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
 }
/* Ready to think more clearly ends here */
